{% extends "base.html" %}
{% load static %}

{% block body_class %}default-body{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row page-invoice justify-content-center mb-4">
        <div class="col-12 col-md-4 text-center mb-2 mx-md-2">
            <a href="#" class="btn btn-primary w-100" data-toggle="modal" data-target="#ajouter">Register a new invoice</a>
        </div>
        <div class="col-12 col-md-4 text-center mb-2 mx-md-2">
            <a href="{% url 'add_customer' %}" class="btn btn-primary w-100">Register a new customer</a>
        </div>
    </div>

    <div class="form-group mb-4">
        <input id="search" class="form-control" type="text" placeholder="Search...">
    </div>

    <div class="table-responsive">
        <table class="table table-striped-columns custom-table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">CUSTOMERS NAME</th>
                    <th scope="col">DATE</th>
                    <th scope="col">TOTAL</th>
                    <th scope="col">PAID</th>
                    <th scope="col">TYPE OF INVOICE</th>
                    <th scope="col">ACTION</th>
                </tr>
            </thead>
            <tbody id="myTable">
                {% if invoices %}
                {% for facture in invoices %}
                <tr>
                    <th scope="row">{{ facture.pk }}</th>
                    <td>{{ facture.customer.name }}</td>
                    <td>{{ facture.invoice_date_time }}</td>
                    <td>{{ facture.get_total }}</td>
                    <td>
                        {% if facture.paid %}
                        <img src="{% static 'images/icon-yes.svg' %}" alt="Yes">
                        {% else %}
                        <img src="{% static 'images/icon-no.svg' %}" alt="No">
                        {% endif %}
                    </td>
                    <td>{{ facture.invoice_type }}</td>
                    <td>
                        <a href="" title="View" class="action-icon view-icon"><i class="fas fa-eye"></i></a>
                        <button id="btn-invoice-sup" type="button" data-toggle="modal" data-target="#supprimer"
                            class="action-icon delete-icon" title="Delete" data-id="{{ facture.pk }}"
                            data-customer="{{ facture.customer.name }}"><i class="fas fa-trash"></i></button>
                        <button id="btn-invoice-mod" type="button" data-toggle="modal" title="Modify" data-target="#modifier"
                            class="action-icon modify-icon" data-id="{{ facture.pk }}" data-customer="{{ facture.customer.name }}"><i class="fas fa-edit"></i></button>
                    </td>
                </tr>
                {% endfor %}

                {% if invoices.has_other_pages %}
                <div class="btn-group mt-3" role="group" aria-label="Item pagination">
                    {% if invoices.has_previous %}
                    <a href="?page={{ invoices.previous_page_number }}" class="btn btn-outline-primary">«</a>
                    {% endif %}

                    {% for page_number in invoices.paginator

.page_range %}
                        {% if invoices.number == page_number %}
                            <button class="btn btn-outline-primary active">
                                <span>{{ page_number }} <span class="sr-only">(current)</span></span>
                            </button>
                        {% else %}
                            <a href="?page={{ page_number }}" class="btn btn-outline-primary">
                                {{ page_number }}
                            </a>
                        {% endif %}
                    {% endfor %}

                    {% if invoices.has_next %}
                        <a href="?page={{ invoices.next_page_number }}" class="btn btn-outline-primary">»</a>
                    {% endif %}
                </div>
                {% endif %}

                {% else %}
                <p class="text-center text-white">No invoice found.</p>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

<!-- Modal Add -->
<div class="modal fade" id="ajouter" tabindex="-1" role="dialog" aria-labelledby="ajouterModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action="{% url 'add_invoice' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title text-dark text-center" id="ajouterModalLabel">Add an invoice</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form to add an invoice -->
                    <div class="form-group">
                        <label for="customer_name" class="text-dark">Customer Name</label>
                        <input type="text" class="form-control" id="customer_name" name="customer_name" required>
                    </div>
                    <div class="form-group">
                        <label for="invoice_date" class="text-dark">Invoice Date</label>
                        <input type="datetime-local" class="form-control" id="invoice_date" name="invoice_date" required>
                    </div>
                    <div class="form-group">
                        <label for="total" class="text-dark">Total</label>
                        <input type="number" step="0.01" class="form-control" id="total" name="total" required>
                    </div>
                    <div class="form-group">
                        <label class="text-dark">Paid?</label>
                        <div>
                            <input type="radio" id="paid_yes" name="paid" value="True">
                            <label class="text-white bg-primary" for="paid_yes">Yes</label>
                            <input type="radio" id="paid_no" name="paid" value="False">
                            <label class="text-white bg-danger" for="paid_no">No</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="invoice_type" class="text-dark">Type of Invoice</label>
                        <select class="form-control" id="invoice_type" name="invoice_type" required>
                            <option value="R">R</option>
                            <option value="P">P</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End modal -->

<!-- Modal Modify -->
<div class="modal fade" id="modifier" tabindex="-1" role="dialog" aria-labelledby="modifierModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action="{% url 'modify_invoice' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title text-dark text-center" id="modifierModalLabel">Modify</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input name="id_modified" type="hidden" id="id_modified">
                    <label id="label_id" class="text-dark checkbox-inline"><strong id="strong_id">Has this invoice been paid?</strong></label>
                    <div>
                        <input type="radio" id="html" name="modified" value="True">
                        <label class="text-white bg-primary" for="html">Yes</label>
                        <input type="radio" id="css" name="modified" value="False">
                        <label class="text-white bg-danger" for="css">No</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End modal -->

<!-- Modal Delete -->
<div class="modal fade" id="supprimer" tabindex="-1" role="dialog" aria-labelledby="supprimerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action="{% url 'delete_invoice' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title text-dark" id="supprimerModalLabel">Delete the invoice</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input name="id_supprimer" type="hidden" id="id_supprimer">
                    <label id="label_id_s" class="text-dark checkbox-inline"><strong id="strong_id_s">Are you sure you want to delete this invoice?</strong></label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End modal -->

<script type="text/javascript">
    // Modify
    $(document).on('click', '#btn-invoice-mod', function(){
        let invoice_id = $(this).data('id');
        let customer = $(this).data('customer');
        $('#id_modified').val(invoice_id);
    });

    // Delete invoice
    $(document).on('click', '#btn-invoice-sup', function(){
        let invoice_id = $(this).data('id');
        let customer = $(this).data('customer');
        $('#id_supprimer').val(invoice_id);
    });
</script>

<script>
    $(document).ready(function(){
        $("#search").on("keyup", function(){
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function(){
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
            });
        });
    });
</script>

{% endblock %}