{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% trans 'NovaFac billing system for managing customers, invoices, and products.' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% block extrahead %}
    {% endblock extrahead %}
    <title>{% block title %}{% trans "NovaFac" %}{% endblock title %}</title>
</head>
<body class="min-vh-100 d-flex flex-column">
    {% get_available_languages as LANGUAGES %}
    {% get_language_info_list for LANGUAGES as languages %}
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
            <div class="container">
                <a class="navbar-brand" href="/">{% trans "NovaFac" %}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown me-4">
                            <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {% trans "Languages" %}
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                                {% for language in languages %}
                                <li>
                                    <form action="{% url 'set_language' %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="language" value="{{ language.code }}">
                                        <input type="hidden" name="next" value="{{ request.path }}">
                                        <button type="submit" class="dropdown-item">{{ language.name_local }}</button>
                                    </form>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% if obj %}
                        <!-- Suppression du bouton "Modifier" -->
                        <li class="nav-item me-4">
                            <a class="nav-link btn btn-primary text-white" href="{% url 'invoicing:generate-invoice-pdf' pk=obj.id %}">
                                {% trans "Download PDF" %}
                            </a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <form action="{% url 'invoicing:logout' %}" method="post" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="nav-link btn btn-danger text-white">{% trans "Logout" %}</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="flex-grow-1">
        <div class="container my-4">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% block content %}
            {% endblock content %}
        </div>
    </main>
    <footer class="bg-light text-center text-dark py-4 mt-auto">
        <div class="container">
            {% trans "NovaFac" %} © 2025 {% trans "Copyright" %}:
            <a href="https://chanelroyal.com">Chanel</a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>